body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#main {
  text-align: center;
  background-color: gray;
  padding-top: 30px;
  margin-top: 30px;
}
#img-div {
  background-color: white;
}
.bold {
  font-weight: bold;
}
#itali {
  font-style: italic;
}
ul > li {
  padding: 30px;
}
#image {
  display: block;
  max-width: 100%;
  height: auto;
}
